.container {
  background: linear-gradient(180deg, #47a138 0%, #ffffff 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.27rem 0;
  width: 1199px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h1 {
  width: 434px;
  height: 270px;
  font-size: 28px;
  font-weight: 600;
}

.banner > img {
  width: 580px;
  height: 352px;
}

.vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.vantagens h2 {
  font-size: 25px;
  font-weight: 700;
}

.vantagens__itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 1rem;
}

.vantagens__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vantagens__item p {
  margin: 0.8rem 0;
  text-align: center;
  width: 279px;
  color: #767676;
}

.vantagens__item img {
  width: 73px;
  height: 56px;
  margin-bottom: 0.6rem;
}

@media (max-width: 768px) {
  .conteudo {
    width: 602px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
  }

  .banner h1 {
    width: 446px;
    text-align: center;
    height: 117px;
  }

  .banner > img {
    width: 560px;
    height: 342px;
  }

  .vantagens__itens {
    flex-wrap: wrap;
  }
}
