.background__modal {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(101, 101, 101, 0.85);
}

.janela__modal {
  position: fixed;
  padding: 64px;
  background: #e4ede3;
  box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
